<footer class"container-fluid bg-light">
    <div class"row">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Test FOOTER</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, ab quia debitis voluptas ligendi quo quisquam omnis labore, hic officiis ullam..</p>
            <a href="/register" class="btn btn-primary">S'inscrire</a>
        </div>                
    </div>
</footer>