<div id="container_popup">
    <div class="form-popup" id="popup-Form">
        <div class="form-container">
            <p>Site réservé </br> aux personnes </br> majeures</p>
            <p>Êtes-vous </br> majeur ?</p>
            <div class="boutons">
                <input type="button" class="btn_oui" onclick="openForm()" value="OUI">
                <input type="button" class="btn_non" onclick="closeForm()" value="NON">
            </div>
        </div>
    </div>
</div>
<div class="overlay-verify"></div>
