{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>E-Commerce</h1>
                <p>Bienvenue sur le site</p>
            </div>
                <div class="horaires">
                    <h1 class="titre_horaires">Horaires</h1>
                    <pre>
                    <h3>      Lundi :          Fermé</h3>
                    <h3>      Mardi :      10h00 - 22h00</h3>
                    <h3>      Mercredi :   10h00 - 22h00</h3>
                    <h3>      Jeudi :      10h00 - 22h00</h3>
                    <h3>      Vendredi :   14h00 - 02h00</h3>
                    <h3>      Samedi :     14h00 - 02h00</h3>
                    <h3>      Dimanche :   14h00 - 22h00</h3>
                    </pre>
                </div>
                <div class="texte">
                    <p>Zerveza, c'est l'histoire de rencontre entre passionnés de bonnes mousses. Au service de nos clients, les chopistes, nous nous occupons de dénicher, pour vous, les bières qui vous plairont, avec pour objectif de vous les proposer au meilleur prix. Zerveza, c'est aussi un décor, une ambiance et de la qualité. Nos équipes s'engagent à ce que les bières soient toujours servies à la température idéale, pour que vous en profitiez dans un cadre unique qui fait l'essence de l'ambiance Zerveza.</p>
                </div>
        </section>
    </main>
{% endblock %}
